<main>
  <personal-info-card>
  </personal-info-card>
  <div class="main-content">
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item">
          <button class="navbar-link  active" data-nav-link>About</button>
        </li>
        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Resume</button>
        </li>
        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Portfolio</button>
        </li>
      </ul>
    </nav>
    <article class="about  active" data-page="about">
      <header>
        <h2 class="h2 article-title">About me</h2>
      </header>
      <section class="about-text">
        <p>
          I am passionate about software development, with a constant drive to learn and improve in this exciting field.
          I enjoy designing and building efficient and visually appealing applications using technologies such as
          JavaScript, TypeScript, Angular, .NET, Tailwind, and SQL.
        </p>
        <p>
          I am motivated by the opportunity to solve complex problems, collaborate with teams, and create solutions that
          make a difference. My focus is on continuous growth and seizing every opportunity to contribute to innovative
          and challenging projects.
        </p>
      </section>
      <section class="service">
        <h3 class="h3 service-title">What i'm doing</h3>
        <ul class="service-list">
          <li class="service-item">
            <div class="service-icon-box">
              <img src="https://i.ibb.co/6yrKdZq/output-onlinepngtools.png" alt="design icon" width="40">
            </div>
            <div class="service-content-box">
              <h4 class="h4 service-item-title">Front-End Development</h4>
              <p class="service-item-text">
                Crafting responsive, modern, and user-friendly interfaces with top-notch quality.
              </p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-icon-box">
              <img src="https://i.ibb.co/YbdkPjV/back-end.png" alt="Web development icon" width="40">
            </div>
            <div class="service-content-box">
              <h4 class="h4 service-item-title">Back-End Development</h4>
              <p class="service-item-text">
                Building robust and scalable server-side solutions for seamless application performance.
              </p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-icon-box">
              <img src="https://i.ibb.co/tKrPpy6/desarrollador-full-stack.png" alt="mobile app icon" width="40">
            </div>
            <div class="service-content-box">
              <h4 class="h4 service-item-title">Full-Stack Development</h4>
              <p class="service-item-text">
                Delivering end-to-end solutions by integrating high-quality front-end and back-end technologies.
              </p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-icon-box">
              <img src="https://i.ibb.co/BBRB9wk/ui.png" alt="camera icon" width="40">
            </div>
            <div class="service-content-box">
              <h4 class="h4 service-item-title">UI/UX Design</h4>
              <p class="service-item-text">
                Creating intuitive, visually appealing, and user-focused designs for optimal experiences.
              </p>
            </div>
          </li>
        </ul>
      </section>
      <section class="testimonials" *ngIf="false">
        <h3 class="h3 testimonials-title">Testimonials</h3>
        <ul class="testimonials-list has-scrollbar">
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>
              <figure class="testimonials-avatar-box">
                <img src="../assets/images/avatar-1.png" alt="Daniel lewis" width="60" data-testimonials-avatar>
              </figure>
              <h4 class="h4 testimonials-item-title" data-testimonials-title>Rohit Patil</h4>
              <div class="testimonials-text" data-testimonials-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>
            </div>
          </li>
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>
              <figure class="testimonials-avatar-box">
                <img src="../assets/images/avatar-2.png" alt="Jessica miller" width="60" data-testimonials-avatar>
              </figure>
              <h4 class="h4 testimonials-item-title" data-testimonials-title>Dipti Sinha</h4>
              <div class="testimonials-text" data-testimonials-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>
            </div>
          </li>
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>
              <figure class="testimonials-avatar-box">
                <img src="../assets/images/avatar-3.png" alt="Emily evans" width="60" data-testimonials-avatar>
              </figure>
              <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily evans</h4>
              <div class="testimonials-text" data-testimonials-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>
            </div>
          </li>
          <li class="testimonials-item">
            <div class="content-card" data-testimonials-item>
              <figure class="testimonials-avatar-box">
                <img src="../assets/images/avatar-4.png" alt="Henry william" width="60" data-testimonials-avatar>
              </figure>
              <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry william</h4>
              <div class="testimonials-text" data-testimonials-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </section>
      <div class="modal-container" data-modal-container>
        <div class="overlay" data-overlay></div>
        <section class="testimonials-modal">
          <button class="modal-close-btn" data-modal-close-btn>
            <a name="close-outline"></a>
          </button>
          <div class="modal-img-wrapper">
            <figure class="modal-avatar-box">
              <img src="../assets/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
            </figure>
            <img src="../assets/images/icon-quote.svg" alt="quote icon">
          </div>
          <div class="modal-content">
            <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>
            <time datetime="2021-06-14">14 June, 2021</time>
            <div data-modal-text>
              <p>
                Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                lot of experience
                and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                consectetur adipiscing
                elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
              </p>
            </div>
          </div>
        </section>
      </div>
      <section class="clients" *ngIf="false">
        <h3 class="h3 clients-title">Clients</h3>
        <ul class="clients-list has-scrollbar">
          <li class="clients-item">
            <a href="#">
              <img src="../assets/images/logo-1-color.png" alt="client logo">
            </a>
          </li>
          <li class="clients-item">
            <a href="#">
              <img src="../assets/images/logo-2-color.png" alt="client logo">
            </a>
          </li>
          <li class="clients-item">
            <a href="#">
              <img src="../assets/images/logo-3-color.png" alt="client logo">
            </a>
          </li>
          <li class="clients-item">
            <a href="#">
              <img src="../assets/images/logo-4-color.png" alt="client logo">
            </a>
          </li>
          <li class="clients-item">
            <a href="#">
              <img src="../assets/images/logo-5-color.png" alt="client logo">
            </a>
          </li>
          <li class="clients-item">
            <a href="#">
              <img src="../assets/images/logo-6-color.png" alt="client logo">
            </a>
          </li>
        </ul>
      </section>
    </article>
    <article class="resume" data-page="resume">
      <header>
        <h2 class="h2 article-title">Resume</h2>
      </header>
      <section class="timeline">
        <div class="title-wrapper">
          <div class="icon-box">
            <img src="https://i.ibb.co/k8j0F1x/educacion.png" alt="camera icon" width="40">
          </div>
          <h3 class="h3">Education</h3>
        </div>
        <ol class="timeline-list">
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">University Politecnico Grancolombiano</h4>
            <span>now</span>
          </li>
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">University Politecnico Grancolombiano</h4>
            <span>2020</span>
            <p class="timeline-text">
              Software Engineering
          </li>
        </ol>
      </section>
      <section class="timeline" *ngIf="false">
        <div class="title-wrapper">
          <div class="icon-box">
            <a name="book-outline"></a>
          </div>
          <h3 class="h3">Experience</h3>
        </div>
        <ol class="timeline-list">
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Creative director</h4>
            <span>2015 — Present</span>
            <p class="timeline-text">
              Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
              molestias
              exceptur.
            </p>
          </li>
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Art director</h4>
            <span>2013 — 2015</span>
            <p class="timeline-text">
              Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
              quas molestias
              exceptur.
            </p>
          </li>
          <li class="timeline-item">
            <h4 class="h4 timeline-item-title">Web designer</h4>
            <span>2010 — 2013</span>
            <p class="timeline-text">
              Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
              quas molestias
              exceptur.
            </p>
          </li>
        </ol>
      </section>
      <section class="skill">
        <h3 class="h3 skills-title">My skills</h3>
        <ul class="skills-list content-card">
          <li class="skills-item">
            <div class="title-wrapper">
              <h5 class="h5">Cominication</h5>
              <data value="90">90%</data>
            </div>
            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 90%;"></div>
            </div>
          </li>
          <li class="skills-item">
            <div class="title-wrapper">
              <h5 class="h5">Responsive Design Expertise</h5>
              <data value="85">85%</data>
            </div>
            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 85%;"></div>
            </div>
          </li>
          <li class="skills-item">
            <div class="title-wrapper">
              <h5 class="h5">Efficient Code Writing</h5>
              <data value="90">90%</data>
            </div>
            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 90%;"></div>
            </div>
          </li>
          <li class="skills-item">
            <div class="title-wrapper">
              <h5 class="h5">Problem-Solving</h5>
              <data value="80">80%</data>
            </div>
            <div class="skill-progress-bg">
              <div class="skill-progress-fill" style="width: 80%;"></div>
            </div>
          </li>
        </ul>
      </section>
    </article>
    <article class="portfolio" data-page="portfolio">
      <header>
        <h2 class="h2 article-title">Portfolio</h2>
      </header>
      <section class="projects">
        <ul class="filter-list" *ngIf="false">
          <li class="filter-item">
            <button class="active" data-filter-btn>All</button>
          </li>
          <li class="filter-item">
            <button data-filter-btn>Web design</button>
          </li>
          <li class="filter-item">
            <button data-filter-btn>Applications</button>
          </li>
          <li class="filter-item">
            <button data-filter-btn>Web development</button>
          </li>
        </ul>
        <div class="filter-select-box hidden">
          <button class="filter-select" data-select>
            <div class="select-value" data-selecct-value>Select category</div>
          </button>
          <ul class="select-list">
          </ul>
        </div>
        <ul class="project-list">
          <li class="project-item  active" data-filter-item data-category="web development">
            <a href="#">
              <figure class="project-img">
                <div class="project-item-icon-box">
                  <a name="eye-outline"></a>
                </div>
                <img src="../assets/images/project-1.jpg" alt="finance" loading="lazy">
              </figure>
              <h3 class="project-title">Finance</h3>
              <p class="project-category">Web development</p>
            </a>
          </li>
        </ul>
      </section>
    </article>
    <article class="contact" data-page="contact" *ngIf="">
      <header>
        <h2 class="h2 article-title">Contact</h2>
      </header>
      <section class="mapbox" data-mapbox>
        <figure>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254817.05681497828!2d-74.12034475170778!3d4.648625496744522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a653b15e1d%3A0x7194e157b3a63565!2sBogot%C3%A1%2C%20Bogota%2C%20Colombia!5e0!3m2!1sen!2sbd!4v1647608789441!5m2!1sen!2sbd"
            width="400" height="300" loading="lazy"></iframe>
        </figure>
      </section>
      <section class="contact-form">
        <h3 class="h3 form-title">Contact Form</h3>
        <form action="#" class="form" data-form>
          <div class="input-wrapper">
            <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>
            <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
          </div>
          <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>
          <button class="form-btn" type="submit" disabled data-form-btn>
            <a name="paper-plane"></a>
            <span>Send Message</span>
          </button>
        </form>
      </section>
    </article>
  </div>
</main>